<h1>About us</h1>
<body class="bg-all">

<div class="services-banner", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dtxhgfzpd/image/upload/v1680011380/janek/banner_ut5vhe.jpg);">
 <div class="container">
    <div>
        <h1>We are Janek Services</h1>
    </div>
  </div>
  </div>

<div class="container">
  <div class="row d-flex justify-content-around">
  <hr>
    <div class="col-4 about-us">
        <h4>Janek Services is a stagehand company based in Kansas City, Missouri.
        For over 30 years, we have contributed to production and stage builds across the country.
        Experienced and detail-oriented, our crews provide staffing solutions to a diverse range of clients.</h4>
    </div>
      <div class="col-4 d-flex justify-content-end">
        <div id="carouselSlides" class="carousel-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag "stage1.png", alt: "stage 1", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage2.png", alt: "stage 2", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage3.png", alt: "stage 3", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage4.png", alt: "stage 4", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage5.png", alt: "stage 5", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage6.png", alt: "stage 6", width: 400, height: 225%>
            </div>
            <div class="carousel-item">
              <%= image_tag "stage_nfl.jpg", alt: "stage 7", width: 400, height: 225%>
            </div>
          </div>
        </div>
        </div>

      <script>
          var myCarousel = 0;
          carousel();

          function carousel() {
            var i;
            var x = document.getElementsByClassName("carousel-item");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }
            myCarousel++;
            if (myCarousel > x.length) {myCarousel = 1}
            x[myCarousel-1].style.display = "flex";
            setTimeout(carousel, 4000);
          }
          </script>
    </div>
    <hr>
  </div>
</div>


<div class="container fluid mt-5 list-box">
  <div class="row justify-content-center">
    <div class="col-6">
      <h3 class="list-title">Event Support</h3>
      <ul>
        <li>Concerts</li>
        <li>Conventions</li>
        <li>Festivals</li>
        <li>Theater</li>
        <li>Trade Shows</li>
        <li>Corporate Meetings</li>
        <li>General Labor</li>
      </ul>
    </div>

    <div class="col-6">
       <h3 class="list-title">Staffing Solutions</h3>
       <ul>
        <li>Stagehands</li>
        <li>Audio/Video Technicians</li>
        <li>Lighting Technicians</li>
        <li>Labor/Loaders</li>
        <li>Riggers</li>
        <li>Spotlight Operators</li>
        <li>Forklift Drivers</li>
      </ul>
    </div>
  </div>
  </div>

  <div class="interest">
    <h3>Interested?</h3>
    <div class="link-info">
    <a class="btn btn-secondary btn-style" href="/overview">Learn More</a>
    <a class="btn btn-secondary btn-style" href="/job_application">Apply Now</a>
    </div>
  </div>

</div>

</body>
